body {
    direction: rtl;
    font-family: 'Yekan','Dinar','OpenSans';
    text-align: right;
}

.bg-white {
    background-color: #fff;
}

.s-2x {
    font-size: 2em;
}

.s-1-5x {
    font-size: 1.5em;
}

.text-decoration-none:hover {
    text-decoration: none;
}


/* modify default bootstrap */
.nav-link .caret {
    margin-right: 5px;
}

.custom-checkbox label {
    margin-right: 25px;
}

.custom-checkbox label:after, .custom-checkbox label:before {
    right : 0;
}

.delete-photo:hover {
    text-decoration: none;
}
